@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

:root {
  --color-white: #ffffff;
  --color-black: #151515;
  --color-light-grey: #f0f0f0;
  --color-purple: #864dff;
  --primary-font: 'Poppins', sans-serif;
}

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-light-grey);
  font-family: var(--primary-font);
  color: var(--color-black);
}

.app-container {
  display: grid;
  place-content: center;
  height: 100vh;
}

.age-calculator {
  background-color: var(--color-white);
  width: 84rem;
  margin: 0 auto;
  padding: 5rem;
  border-radius: 20px 20px 120px 20px;
}

.inputs {
  display: flex;
  gap: 2rem;
}

.input-container label {
  display: block;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 1.4rem;
}

.input-container input {
  width: 15rem;
  height: 7rem;
  border-radius: 5px;
  border: 1px solid var(--color-black);
  outline: none;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding: 2.5rem;
}

.input-container input:focus {
  border: 1px solid var(--color-purple);
}

.submit-form {
  padding-top: 5rem;
  position: relative;
}

.line {
  width: 100%;
  border-bottom: 2px solid var(--color-light-grey);
}

.btn-submit {
  background-color: var(--color-purple);
  border: none;
  padding: 2.5rem;
  border-radius: 100px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-submit:hover {
  background-color: var(--color-black);
}

.result {
  padding-top: 6rem;
}

.dateText {
  font-size: 10rem;
  font-style: italic;
  color: var(--color-black);
  font-weight: 800;
  line-height: 10rem;
}

.number {
  color: var(--color-purple);
}
